<footer>

    <nav class="navbar navbar-expand-sm bg-primary">
        <div class="container">
            <h6>Sistema de gestor dietas</h6>
            <cite>Sistema desarrollado por: Fernando Carta</cite>
            <div>
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <cite>Carrera 12, #11 13. Medellín, Antioquia, Colombia</cite>
                    </li>
                    <li class="nav-item">
                        
                    </li>
                    
                </ul>
                
            </div>
        </div>
    </nav>
</footer>