<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="goToInicio()">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="bi bi-list"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="goToPaciente()">Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToAlimentos()">Alimentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToReceta()">Recetas</a>
        </li>
        <!--
        
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>