<div class="container ">
    <br>
    <form class="form-floating p-3 mb-5 rounded" (ngSubmit)="onSubmit()">
        <h2>Editar paciente</h2>
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="primer_nombre"><i class="bi bi-person-vcard"></i></label>
                        <input type="text" class="form-control" placeholder="Primer nombre" aria-label="Primer nombre"
                            id="primer_nombre" name="primer_nombre" [(ngModel)]="paciente.primer_nombre">
                    </div>
                    <span>Ingrese un nombre valido</span>
                </div>
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="segundo_nombre"><i class="bi bi-person-vcard"></i></label>
                        <input type="text" class="form-control" placeholder="Segundo nombre" aria-label="Segundo nombre"
                            id="segundo_nombre" name="segundo_nombre" [(ngModel)]="paciente.segundo_nombre">
                    </div>
                    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="primer_apellido"><i class="bi bi-file-person"></i></label>
                        <input type="text" class="form-control" placeholder="Primer apellido"
                        aria-label="Primer apellido" id="primer_apellido" name="primer_apellido"
                        [(ngModel)]="paciente.primer_apellido">
                    </div>
                    <span>Ingrese un apellido valido</span>
                </div>
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="segundo_apellido"><i class="bi bi-file-person"></i></label>
                        <input type="text" class="form-control" placeholder="Segundo apellido"
                            aria-label="Segundo apellido" id="segundo_apellido" name="segundo_apellido"
                            [(ngModel)]="paciente.segundo_apellido">
                    </div>
                    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="genero"><i class="bi bi-gender-ambiguous"></i></label>
                        <select class="form-select" id="4" aria-label="Example select with button addon" id="genero"
                            name="genero" [(ngModel)]="paciente.genero">
                            <option selected>Seleccione género...</option>
                            <option value="MASCULINO">Masculino</option>
                            <option value="FEMENINO">Femenino</option>
                            <!--<option value="3">Three</option>-->
                        </select>

                    </div>

                </div>
                <div class="col">

                    <div class="input-group">

                        <label class="input-group-text" for="fecha_nacimiento"><i
                                class="bi bi-calendar-date"></i></label>
                        <input type="date" class="form-control" placeholder="Fecha de nacimiento"
                            aria-label="Fecha de nacimiento" id="fecha_nacimiento" name="fecha_nacimiento"
                            [(ngModel)]="paciente.fecha_nacimiento">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="correo"><i class="bi bi-envelope-at"></i></label>
                        <input type="email" class="form-control" placeholder="Correo" aria-label="Correo" id="correo"
                            name="correo" [(ngModel)]="paciente.correo">
                    </div>
                    <span>Ingrese un correo valido</span>
                </div>
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="celular"><i class="bi bi-telephone-plus"></i></label>
                        <input type="text" class="form-control" placeholder="Celular" aria-label="Celular" id="celular"
                            name="celular" [(ngModel)]="paciente.celular">
                    </div>
                    <span>Ingrese un celular valido</span>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="peso"><i class="bi bi-speedometer2"></i></label>
                        <input type="number" class="form-control" placeholder="Peso" aria-label="Peso" id="peso"
                            name="peso" [(ngModel)]="paciente.peso">
                        <label class="input-group-text" for="peso">Kg</label>
                    </div>
                    <span *ngIf="paciente.peso <= 0" >Ingrese un peso valido</span>
                </div>
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="altura"><i class="bi bi-speedometer2"></i></label>
                        <input type="number" class="form-control" placeholder="Altura" aria-label="Altura" id="altura"
                            name="altura" [(ngModel)]="paciente.altura">
                        <label class="input-group-text" for="altura">cm</label>
                    </div>
                    <span *ngIf="paciente.altura <= 20">Ingrese una altura valida</span>
                </div>


            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="input-group">

                        <label class="input-group-text" for="actividad_fisica"><i
                                class="bi bi-person-walking"></i></label>
                        <select class="form-select" id="4" aria-label="Example select with button addon"
                            id="actividad_fisica" name="nivel_actividad" [(ngModel)]="paciente.nivel_actividad">
                            <option selected>Actividad física...</option>
                            <option value="alto">Alta</option>
                            <option value="moderado">Moderada</option>
                            <option value="bajo">Baja</option>
                            <option value="nulo">Nula</option>
                        </select>
                    </div>

                </div>
            </div>
            <br>

            <div class="row">
                <div class="col">
                    <div class="input-group">

                        <label class="input-group-text" for="enfermedades"><i class="bi bi-hospital"></i></label>
                        <textarea type="text" class="form-control" placeholder="Enfermedades" aria-label="Enfermedades"
                            id="enfermedades" name="enfermedades" [(ngModel)]="paciente.enfermedades"></textarea>
                    </div>
                    
                </div>

            </div>
            <br>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" type="submit"><i class="bi bi-floppy"></i>
                        Guardar</button>
                </div>
                <div class="col">
                    <button name="" id="" class="btn btn-danger" type="button" (click)="irPacientes()"><i
                            class="bi bi-caret-left-fill"></i>
                        Regresar</button>
                </div>

            </div>
        </div>
    </form>
</div>