<div class="container">
    <br>
    <!--LISTADO DE PACIENTES-->

    <table class="table table-hover p-3 mb-5 rounded">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Genero</th>
                <th scope="col">Altura</th>
                <th scope="col">Fecha nacimiento</th>
                <th scope="col">Peso</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let paciente of pacientes">
                <th scope="row">{{ paciente.primer_nombre + " " + paciente.primer_apellido }}</th>
                <td>{{paciente.genero}}</td>
                <td>{{paciente.altura + " cm"}}</td>
                <td>{{paciente.fecha_nacimiento}}</td>
                <td>{{paciente.peso + " kg"}}</td>
                <td>
                    <button class="btn btn-primary" 
                        (click)="editarPaciente(paciente.id_paciente)"><i class="bi bi-pencil"></i></button>
                    <button class="btn btn-danger" (click)="eliminarPaciente(paciente.id_paciente)"
                        ><i class="bi bi-trash"></i></button>
                    <button class="btn btn-warning" >
                        <i class="bi bi-person-vcard"></i>
                    </button>
                    <button class="btn btn-success" >
                        <i class="bi bi-columns-gap"></i>
                    </button>
                    
                </td>
            </tr>


        </tbody>

    </table>
    <button class="btn btn-primary" style="margin: 0.3rem;" (click)="irRegistrarPaciente()"><i
            class="bi bi-plus-lg"></i> Nuevo paciente</button>
    <br>
    <!--BUSCAR PACIENTES-->
    <!--
        <div class="text-center">
            <div class="col">
            <div class="card">
                
                <div class="card-body">
                    <h3 class="card-title">
                        Buscar paciente
                    </h3>
                    
                    <form class="d-grid" role="search">
                        <br>
                        <input class="form-control me-2" type="search" placeholder="Primer nombre"
                        aria-label="Primer nombre">
                        <br>
                        <input class="form-control me-2" type="search" placeholder="Primer apellido"
                        aria-label="Primer nombre">
                        <br>
                        <input class="form-control me-2" type="search" placeholder="Correo electronico"
                        aria-label="Correo electronico">
                        <br>
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    -->

    <br>




</div>