<div class="row row-cols-1 row-cols-md-4 g-4 margen2">
    <div class="col ">
        <div class="card">

            <img src="https://th.bing.com/th/id/OIG4.LgpCSN9eljeVGU_Q8LZP?w=1024&h=1024&rs=1&pid=ImgDetMain"
                class="card-img-top img-fluid" alt="IMAGEN RECETA">
            <div class="card-body">
                <h5 class="card-title">RECETAS</h5>
                <p class="card-text">Amplia variedad de recetas para sugerencia a pacientes</p>
                <button class="btn btn-warning"  (click)="goTo('receta')"><i class="bi bi-card-text"></i> Ver recetas</button>
            </div>
        </div>
    </div>
    <div class="col ">
        <div class="card">
            <img src="https://th.bing.com/th/id/OIG1.SnSoxVhyWZdlrp9c.jva?pid=ImgGn"
                class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">PACIENTES</h5>
                <p class="card-text">Listado de pacientes registrados.</p>
                <button class="btn btn-primary"(click)="goTo('paciente')"><i class="bi bi-list-columns-reverse"></i> Listado</button>
            </div>
        </div>
    </div>
    <div class="col ">
        <div class="card">
            <img src="https://th.bing.com/th/id/OIG3.o2.QtDmNZNNdSUL4A7JJ?w=1024&h=1024&rs=1&pid=ImgDetMain"
                class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">ALIMENTOS</h5>
                <p class="card-text">Listado amplio de alimentos</p>
                <button class="btn fondoBoton"  (click)="goTo('alimento')"><i class="bi bi-cake"></i> Alimentos</button>
                <button class="btn fondoVerdeExcel" (click)="goTo('registrar-alimento')"><i class="bi bi-filetype-csv"></i> Registro CSV</button>
            </div>
        </div>
    </div>
    <div class="col ">
        <div class="card">
            <img src="https://th.bing.com/th/id/OIG4.dMfMj3DzW.Nx94mCDdTJ?w=1024&h=1024&rs=1&pid=ImgDetMain"
                class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">REGISTRAR PACIENTE</h5>
                <p class="card-text">Registrar un paciente nuevo.</p>
                <button class="btn btn-success" (click)="goTo('registrar-paciente')"><i class="bi bi-clipboard2-data"></i> Registro</button>
            </div>
        </div>
    </div>
</div>